body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(204, 255, 181);
}

.card-bg-yellow{
    background-color: rgb(202, 202, 0);
}

.card-bg-red{
    background-color: rgb(165, 18, 18);
}

.card-bg-blue{
    background-color: rgb(0, 0, 189);
}

.card-bg-white{
    background-color: rgb(221, 221, 221);
}

.card-bg-brown{
    background-color: #381613;
}

.card-bg-green{
    background-color: green;
}

.card-bg-black{
    background-color: black;
}

.card-bg-gray{
    background-color: gray;
}

.card-bg-pink{
    background-color: pink;
}

.card-bg-purple{
    background-color: purple;
}

#main-headline{
    margin-left: 10px;
    margin-right: 10px;
}

.pokemon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.poke-Info-Card {
    height: 150px;
    width: 220px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 14px;
    border-radius: 5px;
}

.poke-Info-Card:hover {
    cursor: pointer;
}

.pokemon-card-header {
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: space-between;
}

.dp-flex-space-between {
    display: flex;
    justify-content: space-between;
}

.pokemonType {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.pokemon-type-styling {
    text-align: center;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 8px;
    font-weight: bold;
    font-size: small;
    width: 60px;
}

.max-height{
    max-height: 22px;
}

.dp-none {
    display: none;
}

.bg-white{
    background-color: white;
}

.pokedexBTN{
    background-color: darkkhaki;
}

@media(max-width: 414px) {
    .poke-Info-Card{
        height: 200px;
        width: 80%;
    }
    .pokemon-type-styling{
        width: 150px;
        height: 60px;
        margin-bottom: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pokedex-image{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pokedex-image img{
        height: 140px;
        width: 140px;
    }
    .max-height{
        max-height: 60px;
    }
}